@page
@model WebApplication1.Pages.Books.IndexBookModel
@{
	ViewData["Title"] = "Books list";
}

<style>
	a {
		text-decoration: none;
	}
</style>

<div id="message">
	@if (Model.message.Length > 0)
	{
		<div class="alert @Model.messageType">
			@Model.message
			<button class="btn-close" onclick="document.getElementById('message').innerHTML=''"></button>
		</div>
	}
</div>

<h1>Books List</h1>
<a class="btn-primary btn-sm" href="/Books/CreateBook">Create new book</a>
<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Book Name</th>
			<th>Author</th>
			<th>Publication</th>
			<th>Price</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var book in Model.bookList)
		{
			<tr>
				<td>@book.BookCode</td>
				<td>@book.BookTitle</td>
				<td>@book.Author</td>
				<td>@book.Publication</td>
				<td>@book.Price</td>
				<td><a class="btn-primary btn-sm" href="/Books/EditBook?bookCode=@book.BookCode">Edit Book</a></td>
				<td><a class="btn-primary btn-sm" href="/Books/DeleteBook?bookCode=@book.BookCode">Delete Book</a></td>
			</tr>
		}
	</tbody>
</table>