@page
@model WebApplication1.Pages.Books.IndexBookModel

<br />
<h1>Books List</h1>
<a class="btn-primary btn-sm" href="/Books/CreateBook">Create new book</a>
<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Book Name</th>
			<th>Author</th>
			<th>Publication</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var book in Model.bookList)
		{
			<tr>
				<td>@book.BookCode</td>
				<td>@book.BookTitle</td>
				<td>@book.Author</td>
				<td>@book.Publication</td>
				<td>@book.Price</td>
			</tr>
		}
	</tbody>
</table>